/* === colors === */

$container-color: #f5f5f5; //354463;
$card-color: #b0bec5;
$card-text: whitesmoke;
$hr-color: #159753;
$footer-color: #222222;
$color-white: white;
$green-color-50: #84c6a4;
$green-color-75: #48ad7a;

/* === breakpoints === */

$vs: 400px;
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

/* === fonts === */

@font-face {
  font-family: "Gveret-Levin";
  src: local("Gveret-Levin"),
    url(../../fonts/GveretLevinAlefAlefAlef-Regular.otf) format("truetype");
}

/* === General selectors === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: $container-color;
  padding: 10px 35px 25px; //top sides bottom
  cursor: default;
}

.full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  background-color: $container-color;
  height: 100vh;
  width: 100vw;
}

.full-overflow-container {
  padding: 30px;
  background-color: $container-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

.loading {
  color: $hr-color;
}

/* === Main navbar === */

.navbar-container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: sticky;
  margin-top: -45px;
  top: 0;
  z-index: 20;
  background-color: transparent;
  transition: all 0.5s ease-out;

  &.active {
    background: $footer-color; // #eceff1;
    transition: all 0.5s ease-in;
    box-shadow: 0 2px 3px rgba(15, 15, 15, 0.25);
  }

  .left-section {
    display: flex;

    .logo-wrapper {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .middle-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .navlinks-container {
      height: 100%;
      display: flex;
      align-items: center;

      .links-wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        list-style: none;

        .link-item {
          height: 100%;
          padding: 0 1.1em;
          //color: #aaa;
          color: $color-white;
          font-weight: 500;
          font-size: 19px;
          align-items: center;
          justify-content: center;
          display: flex;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: rgb(206, 205, 205);
            transform: scale(1.1);
          }

          .link {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
            cursor: pointer;
          }
        }

        .socials-holder {
          display: flex;
          align-self: flex-start;
          padding: 100px 0;
        }
      }
    }
  }

  .right-section {
    display: flex;

    .navlinks-container {
      height: 100%;
      display: flex;
      align-items: center;

      .button {
        background-color: transparent;

        svg {
          transform: translate(-5%, 10%);
        }
      }

      .links-wrapper {
        margin: 0;
        padding: 25px;
        display: flex;
        list-style: none;
        background-color: $footer-color;
        box-shadow: 0 3px 3px -2px rgba(15, 15, 15, 0.25);
        width: 100%;
        flex-direction: column;
        position: fixed;
        top: 45px;
        left: 0;
        animation: fadeIn 0.5s ease-in both;

        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translate3d(0, -20%, 0);
          }
          to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }

        .link-item {
          width: 100%;
          padding: 0 1.1em;
          color: $color-white;
          font-weight: 500;
          font-size: 16px;
          display: flex;
          margin-bottom: 10px;

          .link {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
          }
        }
      }
    }

    .socials-container {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        height: 100%;
        padding: 0 1.1em;
        color: #aaa;
        font-weight: 500;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.4s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* === Homepage === */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //padding: 10px 40px 10px; //top sides bottom - need to be changed
  width: 100%;
  background-color: $container-color;
  cursor: default;

  .main-content {
    width: 100%;
    padding: 25px 40px 10px;
    display: flex;
    flex-direction: column;

    .posts-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      background-color: $container-color;
      padding: 10px 0 25px; //top sides bottom
      cursor: default;

      .posts {
        display: flex;
        width: 100%;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }

    .newsletter-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: center;
      width: 70%;
      height: 100%;
      padding: 15px;
      margin: 20px 0 45px; //top sides bottom
      background-color: $color-white;
      box-shadow: 0 3px 7px -1px rgba(black, 0.1);
      border-radius: 5px;

      @media screen and (max-width: $xs) {
        width: 100%;
      }

      .link {
        text-decoration: none;
        color: black;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: $hr-color;
        }
      }

      .newsletter-textfield {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .icon {
          color: $color-white;
        }
      }
    }

    .categories-and-tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      @media screen and (max-width: 1100px) {
        flex-direction: column;
      }

      .posts-by-categories {
        //padding: 0 40px;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          border-right: 3px solid $hr-color;
          margin: 0 0 20px; //top sides bottom

          .link {
            text-decoration: none;
            color: black;
            transition: color 0.5s ease-in-out;

            &:hover {
              color: $hr-color;
            }
          }
        }
      }

      .distributions {
        display: flex;
        flex-direction: column;
        //background-color: darkcyan;

        @media screen and (max-width: 1100px) {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }

        @media screen and (max-width: 885px) {
          //630px) {
          align-self: center;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        .about {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 250px;
          padding: 0 10px 20px; //top sides bottom
          text-align: center;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 10px;
          }

          .socials-container {
            display: flex;
            justify-content: center;
            align-items: baseline;
            width: 100%;
            height: 100%;
            margin-bottom: 10px;

            a {
              text-decoration: none;
            }

            .icon {
              color: black;
              font-size: 20px;
            }

            #facebook {
              margin: 0 2px;
              transition: color 0.5s ease-in-out;

              &:hover {
                color: #3b5999;
              }
            }

            #instagram {
              margin: 0 2px;
              transition: color 0.5s ease-in-out;

              &:hover {
                color: #e4405f;
              }
            }

            #blog {
              margin: 0 6px 0 2px; //top right bottom left
              transition: color 0.5s ease-in-out;

              &:hover {
                color: $hr-color;
              }
            }
          }
        }

        .top-categories-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 5px 0 25px; //top sides bottom

          .category-container {
            width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0 5px; //top sides bottom
            border-bottom: 2px dotted $container-color;
            transition: border-bottom 0.5s ease-in-out;
            cursor: default;

            &:hover {
              border-bottom: 2px dotted $hr-color;
            }
          }
        }

        .top-tags-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 5px 0 25px; //top sides bottom

          .tags-container {
            width: 250px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            margin: 5px 0 5px; //top sides bottom
            cursor: default;

            // @media screen and (max-width: 630px) {
            //   width: 100%;
            // }
          }
        }
      }
    }
  }

  .title {
    display: flex;
    border-right: 3px solid $hr-color;
    margin: 0 0 10px; //top sides bottom
  }
}

/* === About === */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $container-color;
  cursor: default;

  .about-header,
  .about-socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 20px 0; //top sides bottom
    width: 100%;
    height: 100%;
  }

  .about-header > .content,
  .about-socials > .social-media {
    width: 80%;
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: 825px) {
      width: 100%;
    }

    img {
      margin: 5px 0;
      width: 100%;
      height: auto;
    }

    .paragraph {
      width: 100%;
      height: 100%;
      padding: 0 0 20px 20px; //top right bottom left
    }

    .social-container {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      width: 220px;
      height: 100%;
      padding: 5px 0 5px 0;
      margin: 2px;

      a {
        text-decoration: none;
      }

      .icon {
        color: black;
        font-size: 25px;
      }

      #facebook {
        transform: translateY(7%);
        transition: color 0.5s ease-in-out;

        &:hover {
          color: #3b5999;
        }
      }

      #instagram {
        transform: translateY(15%);
        transition: color 0.5s ease-in-out;

        &:hover {
          color: #e4405f;
        }
      }

      #blog {
        transform: translateY(13%);
        transition: color 0.5s ease-in-out;

        &:hover {
          color: $hr-color;
        }
      }
    }
  }
}

/* === Small card === */

.small-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100%;
  padding: 0 15px 5px; //top sides bottom
  margin-bottom: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: snow;
  box-shadow: 0 3px 7px -1px rgba(black, 0.1);

  &:hover > .image {
    opacity: 0.85;
  }

  .image {
    width: 260px;
    height: 100%;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }
}

/* === Medium Card === */

.medium-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  //padding: 0 15px 5px; //top sides bottom
  width: 350px;
  height: 450px;
  color: $card-text;
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  .black {
    background-color: rgba(black, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 15px 5px; //top sides bottom
    width: 350px;
    height: 450px;
    z-index: 2;

    .category {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $hr-color;
      border-radius: 25px;
      padding: 0 15px;
      margin-bottom: 5px;
      background-color: rgba(21, 151, 83, 0.15);
    }

    .link {
      text-decoration: none;
      color: $card-text;
      transition: color 0.5s ease-in-out;
    }

    .subtitle {
      font-size: 16px;
      padding: 20px 0;
    }

    .date-and-comments {
      display: flex;
      justify-content: flex-start;

      .date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        margin-left: 15px;
      }

      .comments {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
      }

      .icon {
        font-size: 20px;
        margin-left: 7px;
      }
    }
  }
}

/* === Large card === */

.large-card-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px; //top sides bottom
  box-shadow: 0 3px 7px -1px rgba(black, 0.1);
  background: $color-white;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  height: 200px;

  @media screen and (max-width: 700px) {
    height: 100%;
  }

  .link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: $hr-color;
    }
  }

  &:hover {
    .photo {
      transform: scale(1.3);
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);

    @media screen and (max-width: 640px) {
      clip-path: none;
    }
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
  }

  .details {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.3s;
    background: rgba(black, 0.6);
    color: $color-white;
    padding: 15px 10px;
    width: 100%;

    .date-and-comments {
      display: flex;
      flex-direction: column;

      .date,
      .comments {
        display: flex;
        margin-bottom: 5px;
      }

      .icon {
        font-size: 25px;
        margin-left: 10px;
      }
    }
  }

  .description {
    padding: 1rem;
    background: $color-white;
    position: relative;
    z-index: 1;

    p {
      font-size: 15px;
      position: relative;
      margin: 1rem 0 0;

      &:first-of-type {
        margin-top: 1.25rem;

        &:before {
          content: "";
          position: absolute;
          height: 2.5px;
          width: 35px;
          background: $hr-color;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
  }

  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;

    .meta {
      flex-basis: 40%;
      height: auto;
    }

    .description {
      flex-basis: 60%;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

      .details {
        padding-left: 25px;
      }
    }
  }
}

/* === Hero === */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  //padding: 10px;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
      180deg,
      rgba(48, 168, 92, 0.5) 0%,
      rgba(#222222, 0.5) 80%
    ),
    url("../../images/hero-background.jpg") fixed;
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%); --> that's from footer
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); //--> that what should be
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 1;

  // https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
  // https://images.pexels.com/photos/1448709/pexels-photo-1448709.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940

  // @media screen and (max-width: $xs) {
  //   -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  //   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  // }

  .hero-black {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    //padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    z-index: 2;
    background-color: rgba(black, 0.45);

    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 155px 100px 0; //top sides bottom
      //padding: 155px 100px;

      @media screen and (max-width: 600px) {
        padding: 155px 30px 0; //top sides bottom
        //padding: 155px 30px;
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 100px 220px; //top sides bottom
      //padding: 200px 100px;

      @media screen and (max-width: 600px) {
        padding: 20px 30px 220px;
        //padding: 20px 30px;
      }

      @media screen and (max-width: 400px) {
        flex-direction: column;
      }
    }
  }
}

/* === Footer === */

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $container-color;
  margin-top: 30px;
  color: $color-white;
  overflow-x: hidden;
  cursor: default;

  .polygon {
    width: 100%;
    height: 50px;
    clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
    background-color: $footer-color;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    background-color: $footer-color;
    //border: 1px dashed whitesmoke;

    .about-me,
    .newsletter,
    .socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      padding: 10px 15px; //top-bottom sides
      margin: 5px;
      //border: 1px dashed chocolate;
      text-align: right;

      .title {
        display: flex;
        align-items: flex-end;
        border-right: 3px solid $hr-color;
        margin: 0 0 12px; //top sides bottom
        align-self: flex-start;
      }

      .newsletter-textfield {
        display: flex;
        flex-direction: row;
        align-self: flex-start;

        .icon {
          color: $color-white;
        }
      }

      .icons {
        display: flex;
        width: 100%;
        align-self: flex-start;
        padding: 10px 0;
        margin-top: 5px;

        a {
          text-decoration: none;
          margin-left: 15px;

          .icon {
            font-size: 20px;
            color: $color-white;
            transition: color 0.5s ease-in-out;

            &:hover {
              color: $hr-color;
            }
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0 10px; //top sides bottom
    background-color: $footer-color;
    text-align: center;

    @media screen and (max-width: 754px) {
      padding: 25px 0 10px; //top sides bottom
    }
  }
}

/* === Admin === */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  cursor: default;

  h3 {
    color: white;
    align-self: flex-start;
    transform: translateY(50%);
    letter-spacing: 3px;
  }

  .adornment {
    margin-left: 20px;
  }

  .visibility {
    cursor: pointer;
    margin-left: 13px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

/* === Dashboard === */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: $container-color;
  padding: 25px 55px 35px; //top sides bottom
  cursor: default;

  .chart-container {
    display: flex;
    padding: 10px 0;
    width: 100%;
  }

  .statistics-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .statistics-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
      margin-bottom: 20px;
      border-radius: 25px;
      width: 300px;
      height: 170px;
      padding: 20px;
      margin: 5px 0 30px 40px; //top right bottom left
      background: linear-gradient(
        152deg,
        rgba(197, 225, 165, 0.9) 45%,
        rgba(102, 187, 106, 0.9) 80%
      );
    }
  }

  hr {
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
    padding: 30px 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    letter-spacing: 2px;

    &:nth-child(odd) {
      background-color: #e0e0e0;
    }

    &:nth-child(even) {
      background-color: #cccaca;
    }
  }

  th {
    color: whitesmoke;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #455a64;
    padding: 15px;

    &:first-child {
      border-top-right-radius: 15px;
    }
    &:last-child {
      border-top-left-radius: 15px;
    }
  }

  td {
    padding: 15px;
    font-size: 17px;
  }
}

/* === Dashboard navbar === */

.dasboard-navbar {
  background: #121212;
  border-bottom: 1px dotted white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;

  .dashboard-navbar-container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    height: 35px;

    .links-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      .space {
        width: 20px;
      }
    }

    .links {
      color: white;
      text-decoration: none;
      justify-self: flex-start;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;

      .text {
        font-size: 18px;
        margin: 0 5px 0;
        transform: translateY(6%);
      }
    }
  }
}

/* === Editor === */

.container > form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 500px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pb {
    padding-bottom: 40px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.container > fieldset {
  width: 230px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 40px 0;

  legend {
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    padding: 5px;
  }

  .checkBox {
    font-family: "Varela Round", sans-serif;
  }

  .helper {
    padding-bottom: 10px;
    text-align: right;
    margin-right: 29px;
  }
}

.editor-container {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.container > .tags-container {
  width: 500px;
  padding-top: 30px;
}

/* === Post === */

.root {
  background-color: $container-color;
  cursor: default;
  user-select: none;
  //overflow: hidden;

  .post-header {
    height: 650px;
    padding: 120px 60px 150px; //top sides bottom
    margin: 45px 0 50px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (max-width: $xs) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    .subtitle-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 120px;
      padding: 25px;
      top: 0;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.7);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      @media screen and (max-width: 850px) {
        width: 80%;
      }

      @media screen and (max-width: $xs) {
        height: 200px;
      }

      .right-quotation-marks-container {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px;
      }

      .left-quotation-marks-container {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 5px;
      }

      .quotation-marks {
        width: 45px;
        height: 40px;
        opacity: 0.25;
        z-index: 1;
      }
    }
  }

  .top-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //justify-content: flex-start;
    //padding-right: 50px;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: $container-color;

    .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;

      @media screen and (max-width: $vs) {
        padding: 0 5px;
      }

      hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0)
        );
        margin-bottom: 5px;
      }
    }

    .post {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: pre-wrap;
      padding: 60px 100px 25px; //top sides bottom
      font-size: 1.2rem;

      @media screen and (max-width: $sm) {
        padding: 60px 40px 40px; //top sides bottom
      }

      .paragraphs,
      .song-paragraphs {
        display: flex;
        flex-direction: column;

        .image {
          width: 500px;
          padding-bottom: 6px;
          align-self: center;

          @media screen and (max-width: $xs) {
            padding: 0 0 6px;
            display: block;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .main-credit-and-tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px 20px; //top sides bottom
    width: 100%;

    @media screen and (max-width: $sm) {
      padding: 0 40px 20px; //top sides bottom
    }

    .credit-container,
    .tags-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;

      .tag-link {
        text-decoration: none;
        color: black;
        margin: 0 5px;
        font-size: 15px;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: $hr-color;
        }
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px 20px; //top sides bottom
    width: 100%;

    @media screen and (max-width: $sm) {
      padding: 0 40px 35px; //top sides bottom
    }

    .comment-root {
      width: 100%;
      padding-bottom: 15px;

      .comment-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;

        .avatars {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .comment {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0 10px 5px; //top sides bottom
        }
      }

      .delete-icon {
        color: rgba(black, 0.65);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: rgba(black, 1);
        }
      }

      .comment-icon {
        font-size: 22px;
        color: rgba(black, 0.65);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: rgba(black, 1);
        }
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link {
      border-radius: 50%;
      text-decoration: none;
    }

    .profile-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;

      @media screen and (max-width: $md) {
        width: 200px;
        height: 200px;
      }
    }

    hr {
      border: 1px solid $hr-color;
      border-radius: 5px;
      width: 150px;
      margin: 15px;
    }

    .about-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding-bottom: 40px;
    }

    .recent-posts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding-bottom: 10px;
    }
  }
}

/* === Categories page === */

.container > .posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 45px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-right: 3px solid $hr-color;
    margin: 0 0 20px; //top sides bottom
    align-self: start;

    .link {
      text-decoration: none;
      color: black;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $hr-color;
      }
    }
  }

  .read-more {
    transform: translateY(-150%);

    .link {
      text-decoration: none;
      color: black;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $hr-color;
      }
    }
  }
}

/* === Specific category and tag page === */

.category-and-tag-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  background-color: $color-white;
  min-height: 100%;
  height: 100%;
  //overflow-y: scroll;
  padding: 40px;
  margin-top: 35px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-right: 3px solid $hr-color;
    margin: 0 0 20px; //top sides bottom
    align-self: start;
  }

  .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cards {
      padding: 10px;
    }
  }
}

/* === Newsletter editor === */

.newsletter-editor-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: default;
  background-color: $container-color;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  .newsletter-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 70%;
    padding: 15px;

    .buttons {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
    }
  }
}

/* === Unsubscribe and 404 page === */

.full-container > .page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 95%;
  text-align: center;

  hr {
    width: 80px;
    border-radius: 5px;
    border: 1px solid $hr-color;
    margin: 0 0 25px; //top sides bottom
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    box-shadow: 0 3px 7px -1px rgba(black, 0.1);

    .textfield {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 0 25px; //top sides bottom
      background-color: rgba($hr-color, 0.1);

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
