//$container-color: #386796;
$container-color: #f5f5f5;
$card-color: #7671bb;
$post-color: rgb(112, 80, 172);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

/* === General selectors === */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: $container-color;
  padding: 25px;
  cursor: default;
  border-bottom: 1px solid black;
}

/* === Card === */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: $card-color;

  &:hover > .image {
    opacity: 0.7;
  }

  .image {
    width: 270px;
    height: 150px;
    align-self: center;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }

  .image-container {
    position: relative;
  }

  .category-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 3px 10px; //top-bottom right-left
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-right-radius: 5px;
  }

  .subtitle {
    font-size: 15px;
  }
}

/* === Admin === */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 8px;
}

/* === Dashboard === */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  padding-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  &:nth-child(odd) {
    background-color: #e0e0e0;
  }
  &:hover {
    background-color: #bdbdbd;
  }
}

th {
  color: whitesmoke;
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #455a64;
  padding: 15px;

  &:first-child {
    border-top-right-radius: 15px;
  }
  &:last-child {
    border-top-left-radius: 15px;
  }
}

td {
  padding: 15px;
  font-size: 15px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  width: 100%;
  padding: 30px;
  background-color: $post-color;
}
