/* === colors === */

$container-color: #f5f5f5; //354463;
$card-color: #b0bec5;
$card-text: whitesmoke;
$hr-color: #159753;
$color-white: white;

/* === breakpoints === */

$vs: 400px;
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

/* === fonts === */

@font-face {
  font-family: "Gadi";
  src: local("Gadi"),
    url(../../fonts/gadi-almog-regular-aaa.woff) format("truetype");
}

/* === General selectors === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: $container-color;
  padding: 10px 35px 25px; //top sides bottom
  cursor: default;
}

.full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  background-color: $container-color;
  height: 100vh;
  width: 100vw;
}

.full-overflow-container {
  padding: 30px;
  background-color: $container-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

.loading {
  color: $hr-color;
}

/* === Navbar === */

.navbar-container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: sticky;
  margin-top: -45px;
  top: 0;
  z-index: 20;
  background-color: transparent;
  transition: all 0.5s ease-out;

  &.active {
    background: #eceff1;
    transition: all 0.5s ease-in;
    box-shadow: 0 2px 3px rgba(15, 15, 15, 0.25);
  }

  .left-section {
    display: flex;

    .logo-wrapper {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .middle-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .navlinks-container {
      height: 100%;
      display: flex;
      align-items: center;

      .links-wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        list-style: none;

        .link-item {
          height: 100%;
          padding: 0 1.1em;
          //color: #aaa;
          color: white;
          font-weight: 500;
          font-size: 19px;
          align-items: center;
          justify-content: center;
          display: flex;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: #555;
            transform: scale(1.1);
          }

          .link {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
            cursor: pointer;
          }
        }
      }
    }
  }

  .right-section {
    display: flex;

    .navlinks-container {
      height: 100%;
      display: flex;
      align-items: center;

      .button {
        background-color: transparent;

        svg {
          transform: translate(-5%, 10%);
        }
      }

      .links-wrapper {
        margin: 0;
        padding: 25px;
        display: flex;
        list-style: none;
        background-color: blanchedalmond;
        box-shadow: 0 3px 3px -2px rgba(15, 15, 15, 0.25);
        width: 100%;
        flex-direction: column;
        position: fixed;
        top: 45px;
        left: 0;
        animation: fadeIn 0.5s ease-in both;

        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translate3d(0, -20%, 0);
          }
          to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }

        .link-item {
          width: 100%;
          padding: 0 1.1em;
          color: #222;
          font-weight: 500;
          font-size: 16px;
          display: flex;
          margin-bottom: 10px;

          .link {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
          }
        }
      }
    }

    .socials-container {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        height: 100%;
        padding: 0 1.1em;
        color: #aaa;
        font-weight: 500;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.4s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* === Homepage === */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 10px; //top sides bottom
  width: 100%;
  background-color: $container-color;
  cursor: default;

  .posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: $container-color;
    padding: 10px 0 25px; //top sides bottom
    cursor: default;

    .posts {
      display: flex;
      width: 100%;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  .categories-and-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    .posts-by-categories {
      //padding: 0 40px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-right: 3px solid $hr-color;
        margin: 0 0 20px; //top sides bottom

        .link {
          text-decoration: none;
          color: black;
          transition: color 0.5s ease-in-out;

          &:hover {
            color: $hr-color;
          }
        }
      }
    }

    .distributions {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1100px) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      @media screen and (max-width: 630px) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }

      .top-categories-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 0 25px; //top sides bottom

        .category-container {
          width: 250px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 5px 0 5px; //top sides bottom
          border-bottom: 2px dotted $container-color;
          transition: border-bottom 0.5s ease-in-out;
          cursor: default;

          &:hover {
            border-bottom: 2px dotted $hr-color;
          }
        }
      }

      .top-tags-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 0 25px; //top sides bottom

        .tags-container {
          width: 250px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          margin: 5px 0 5px; //top sides bottom
          cursor: default;

          @media screen and (max-width: 630px) {
            width: 100%;
          }
        }
      }
    }
  }

  .title {
    display: flex;
    border-right: 3px solid $hr-color;
    margin: 0 0 10px; //top sides bottom
  }
}

/* === About (short version) === */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: $container-color;
  padding: 20px 35px 25px; //top sides bottom
  cursor: default;

  @media screen and (max-width: $sm) {
    width: 100%;
  }

  p {
    font-size: 20px;

    @media screen and (max-width: $sm) {
      text-align: center;
    }

    .image {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      float: right;
      margin: 0 0 20px 60px; //top right bottom left

      @media screen and (max-width: $sm) {
        float: inline-start;
        margin: 0 0 5px 15px; //top right bottom left
      }
    }
  }
}

/* === Small card === */

.small-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100%;
  padding: 0 15px 5px; //top sides bottom
  margin-bottom: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: snow;
  box-shadow: 0 3px 7px -1px rgba(black, 0.1);

  &:hover > .image {
    opacity: 0.85;
  }

  .image {
    width: 260px;
    height: 100%;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }
}

/* === Medium Card === */

.medium-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  //padding: 0 15px 5px; //top sides bottom
  width: 350px;
  height: 450px;
  color: $card-text;
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  .black {
    background-color: rgba(black, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 15px 5px; //top sides bottom
    width: 350px;
    height: 450px;
    z-index: 2;

    .category {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $hr-color;
      border-radius: 25px;
      padding: 0 15px;
      margin-bottom: 5px;
      background-color: rgba(21, 151, 83, 0.15);
    }

    .link {
      text-decoration: none;
      color: $card-text;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $hr-color;
      }
    }

    .subtitle {
      font-size: 16px;
      padding: 20px 0;
    }

    .date-and-comments {
      display: flex;
      justify-content: flex-start;

      .date {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        margin-left: 15px;
      }

      .comments {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
      }

      .icon {
        font-size: 20px;
        margin-left: 7px;
      }
    }
  }
}

/* === Large card === */

.large-card-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px; //top sides bottom
  box-shadow: 0 3px 7px -1px rgba(black, 0.1);
  background: $color-white;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  height: 200px;

  @media screen and (max-width: 700px) {
    height: 100%;
  }

  .link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: $hr-color;
    }
  }

  &:hover {
    .photo {
      transform: scale(1.3);
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);

    @media screen and (max-width: 640px) {
      clip-path: none;
    }
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
  }

  .details {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.3s;
    background: rgba(black, 0.6);
    color: $color-white;
    padding: 15px 10px;
    width: 100%;

    .date-and-comments {
      display: flex;
      flex-direction: column;

      .date,
      .comments {
        display: flex;
        margin-bottom: 5px;
      }

      .icon {
        font-size: 25px;
        margin-left: 10px;
      }
    }
  }

  .description {
    padding: 1rem;
    background: $color-white;
    position: relative;
    z-index: 1;

    p {
      font-size: 15px;
      position: relative;
      margin: 1rem 0 0;

      &:first-of-type {
        margin-top: 1.25rem;

        &:before {
          content: "";
          position: absolute;
          height: 2.5px;
          width: 35px;
          background: $hr-color;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
  }

  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;

    .meta {
      flex-basis: 40%;
      height: auto;
    }

    .description {
      flex-basis: 60%;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

      .details {
        padding-left: 25px;
      }
    }
  }
}

/* === Hero === */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
      180deg,
      rgba(48, 168, 92, 0.3) 0%,
      rgba(48, 168, 92, 0.3) 50%
    ),
    url("https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      fixed;
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  @media screen and (max-width: $xs) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

// .hero-container {
//   position: relative;
//   width: 100%;
//   height: 50vh;
//   display: flex;
//   justify-content: center;
//   cursor: default;
//   position: relative;
//   padding: 75px 15px 0; //top sides bottom
//   box-sizing: border-box;
//   background: linear-gradient(
//       0deg,
//       rgba(2, 0, 36, 1) 0%,
//       rgba(9, 9, 121, 1) 45%,
//       rgb(0, 102, 255) 100%
//     ),
//     url("https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
//       fixed;
//   background-blend-mode: screen;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// section {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   //align-items: center;
//   cursor: default;
//   padding: 75px 15px 0; //top sides bottom
//   box-sizing: border-box;
//   background: linear-gradient(
//       0deg,
//       rgba(2, 0, 36, 1) 0%,
//       rgba(9, 9, 121, 1) 45%,
//       rgb(0, 102, 255) 100%
//     ),
//     url("https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
//       fixed;
//   background-blend-mode: screen;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   //credit: https://www.pexels.com/photo/white-and-gray-pen-beside-succulent-flower-and-white-line-paper-near-orange-ceramic-mug-with-black-coffee-64778/

//   .hero-content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 50px;
//     width: 100%;

//     h2 {
//       font-family: "Gadi", sans-serif;
//       font-size: 65px;
//       letter-spacing: 5px;
//       text-shadow: 3px 3px 4px white;
//     }

//     .fieldtests {
//       display: flex;
//       flex-direction: row;

//       @media screen and (max-width: 700px) {
//         flex-direction: column;
//       }

//       fieldset {
//         width: 100%;
//         border: 1px dashed black;
//         border-radius: 25px;
//         margin: 10px;
//         width: 300px;
//       }

//       legend {
//         font-size: 25px;
//         font-weight: bold;
//         margin-right: 25px;
//         padding: 5px;
//       }

//       .text {
//         padding: 10px 25px 25px; //top sides bottom
//       }
//     }
//   }

//   .wave {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     //border-top: 1px solid black;
//   }
// }

/* === Footer === */

.footer-container {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: default;
  //align-items: center;
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 45%,
      rgba(0, 212, 255, 1) 100%
    ),
    url("https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      fixed;
  background-blend-mode: screen;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      padding: 10px 25px 25px; //top sides bottom
    }
  }

  .wave {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* === Admin === */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  cursor: default;

  h3 {
    color: white;
    align-self: flex-start;
    transform: translateY(50%);
    letter-spacing: 3px;
  }

  .adornment {
    margin-left: 20px;
  }

  .visibility {
    cursor: pointer;
    margin-left: 13px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

/* === Dashboard === */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: $container-color;
  padding: 25px 55px 35px; //top sides bottom
  cursor: default;

  .chart-container {
    display: flex;
    padding: 10px 0;
    width: 100%;
  }

  .statistics-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .statistics-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
      margin-bottom: 20px;
      border-radius: 25px;
      width: 300px;
      height: 170px;
      padding: 20px;
      margin: 5px 0 30px 40px; //top right bottom left
      background: linear-gradient(
        152deg,
        rgba(197, 225, 165, 0.9) 45%,
        rgba(102, 187, 106, 0.9) 80%
      );
    }
  }

  hr {
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
    padding: 30px 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    letter-spacing: 2px;

    &:nth-child(odd) {
      background-color: #e0e0e0;
    }

    &:nth-child(even) {
      background-color: #cccaca;
    }
  }

  th {
    color: whitesmoke;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #455a64;
    padding: 15px;

    &:first-child {
      border-top-right-radius: 15px;
    }
    &:last-child {
      border-top-left-radius: 15px;
    }
  }

  td {
    padding: 15px;
    font-size: 17px;
  }
}

/* === Dashboard navbar === */

.dasboard-navbar {
  background: #121212;
  border-bottom: 1px dotted white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;

  .dashboard-navbar-container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    height: 35px;

    .links-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      .space {
        width: 20px;
      }
    }

    .links {
      color: white;
      text-decoration: none;
      justify-self: flex-start;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;

      .text {
        font-size: 18px;
        margin: 0 5px 0;
        transform: translateY(6%);
      }
    }
  }
}

/* === Editor === */

.container > form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 500px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pb {
    padding-bottom: 40px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.container > fieldset {
  width: 230px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 40px 0;

  legend {
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    padding: 5px;
  }

  .checkBox {
    font-family: "Varela Round", sans-serif;
  }

  .helper {
    padding-bottom: 10px;
    text-align: right;
    margin-right: 29px;
  }
}

.editor-container {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.container > .tags-container {
  width: 500px;
  padding-top: 30px;
}

/* === Post === */

.root {
  background-color: $container-color;
  cursor: default;
  user-select: none;
  overflow: hidden;

  .post-header {
    height: 650px;
    padding: 120px 60px 150px; //top sides bottom
    margin-bottom: 50px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (max-width: $xs) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    .subtitle-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 120px;
      padding: 25px;
      top: 0;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.7);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      @media screen and (max-width: 850px) {
        width: 80%;
      }

      @media screen and (max-width: $xs) {
        height: 200px;
      }

      .right-quotation-marks-container {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px;
      }

      .left-quotation-marks-container {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 5px;
      }

      .quotation-marks {
        width: 45px;
        height: 40px;
        opacity: 0.25;
        z-index: 1;
      }
    }
  }

  .top-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //justify-content: flex-start;
    //padding-right: 50px;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: $container-color;

    .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;

      hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0)
        );
        margin-bottom: 5px;
      }
    }

    .post {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: pre-wrap;
      //width: 85%;
      padding: 60px 100px 10px; //top sides bottom
      font-size: 1.2rem;

      @media screen and (max-width: $sm) {
        padding: 60px 40px 40px; //top sides bottom
      }

      .paragraphs {
        display: flex;
        flex-direction: column;

        .image {
          width: 500px;
          padding-bottom: 6px;
          align-self: center;

          @media screen and (max-width: $xs) {
            padding: 0 0 6px;
            display: block;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .main-credit-and-tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px 20px; //top sides bottom
    width: 100%;
    
    @media screen and (max-width: $sm) {
      padding: 0 40px 20px; //top sides bottom
    }

    .credit-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
    }

    .tags-container
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px 20px; //top sides bottom
    width: 100%;

    @media screen and (max-width: $sm) {
      padding: 0 40px 35px; //top sides bottom
    }

    .comment-root {
      width: 100%;
      padding-bottom: 15px;

      .comment-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;

        .comment {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0 10px 5px; //top sides bottom
        }
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;

      @media screen and (max-width: $md) {
        width: 200px;
        height: 200px;
      }
    }

    hr {
      border: 1px solid $hr-color;
      border-radius: 5px;
      width: 150px;
      margin: 15px;
    }

    .about-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding-bottom: 40px;
    }

    .recent-posts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding-bottom: 10px;
    }
  }
}

/* === Category page === */

.category-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  background-color: $container-color;
  min-height: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 40px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-right: 3px solid $hr-color;
    margin: 0 0 20px; //top sides bottom
  }

  .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cards {
      padding: 10px;
    }
  }
}

/* === 404 === */

.full-container > .page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 95%;

  hr {
    width: 80px;
    border-radius: 5px;
    border: 1px solid $hr-color;
    margin: 0 0 25px; //top sides bottom
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    box-shadow: 0 3px 7px -1px rgba(black, 0.1);

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 0 25px; //top sides bottom
      background-color: rgba($hr-color, 0.1);

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
